<div class="card is-info">
  <header class="card-header">
    <p class="card-header-title">
      {{ project.title }}
    </p>
      <div class="tags">
        <span
          *ngFor="let tag of project.tags"
          (click)="setTag(tag)"
          class="tag is-light is-rounded">
          {{ tag }}
        </span>
      </div>
  </header>
  <div class="card-content">
    <div class="content">
      {{ project.description }}
    </div>
  </div>
  <footer class="card-footer">
    <a 
      class="card-footer-item"
      *ngIf="project.site && !project.tags.includes('article')"
      [href]="project.site">
      <i class="fa fa-external-link"></i>
      &nbsp;Homepage
    </a>
    <a 
      class="card-footer-item"
      *ngIf="project.tags.includes('article')"
      [href]="project.site">
      <i class="fa fa-file-text"></i>
      &nbsp;View Article
    </a>
    <a
      class="card-footer-item"
      *ngIf="project.code"
      [href]="project.code">
      <i class="fa fa-code"></i>
      &nbsp;Code
    </a>
  </footer>
</div>