---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import PostPreview from '../components/PostPreview.astro';
import Pagination from '../components/Pagination.astro';

// page
let title = 'Don’s Blog';
let description = 'An example blog on Astro';
---

<html>
  <head>
    <title>{title}</title>
    <MainHead
      title={title}
      description={description}
      canonicalURL={Astro.request.canonicalURL.href}
    />
  </head>

  <body>
    <Nav />

    <main class="wrapper">
    </main>

    <footer>
    </footer>
  </body>
</html>
