.blue::after {
  background-color: rgba(3, 54, 255, 0.3);
}

.yellow::after {
  background-color: rgba(255, 222, 3, 0.4);
}

.pink::after {
  background-color: rgba(255, 02, 66, 0.4);
}

.purple::after {
  background-color: rgba(148, 54, 255, 0.4);
}

.emphasis {
  color: #333;
  z-index: 1;
  text-decoration: none;
  position: relative;
}

.emphasis:hover::after {
  top: 0%;
}

.emphasis::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
}
