/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

.container, app-footer {
  z-index: 100;
}

.particles-js-canvas-el {
  background-color: #EFF3F4;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}
