$family-serif: 'IBM Plex Serif', Georgia, 'Times New Roman', Times, serif
$family-monospace: 'Source Code Pro', 'Courier New', Courier, monospace
$family-primary: $family-serif
$family-secondary: $family-serif

$blue: #326891

@import 'bulma/sass/utilities/all'
@import 'bulma/sass/base/all'
// Tag conflicts w/ prismjs highlighting so don't
// use elements/all
@import 'bulma/sass/elements/button'
@import 'bulma/sass/elements/container'
@import 'bulma/sass/elements/content'
@import 'bulma/sass/elements/title'
@import 'bulma/sass/form/all'
@import 'bulma/sass/grid/all'
@import 'bulma/sass/helpers/all'
@import 'bulma/sass/layout/footer'
