body,
html,
ol,
ul {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  width: 100%; }

*, html, body {
  font-family: Lato, Arial, sans-serif; }

@media (min-width: 768px) {
  p {
    font-size: 18px; } }

/* ---------------------------------
         ## NAVIGATION ##
---------------------------------- */
.navbar.docked {
  background-color: transparent;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
  .navbar.docked li a {
    color: #fff;
    font-weight: 400; }
    .navbar.docked li a:hover {
      color: #999; }

.navbar {
  border-bottom: none;
  transition: all .5s; }
  .navbar li a {
    font-weight: 400;
    font-size: 18px; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url("../../img/bg2.jpg");
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%; }
    header .header-content h1 {
      font-size: 5em;
      font-weight: bold;
      text-shadow: 3px 2px 2px #222; }
    header .header-content ul {
      margin: 30px auto 50px auto;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      header .header-content ul .social-link {
        margin-right: 35px; }
        header .header-content ul .social-link img {
          -webkit-filter: opacity(0.9);
          filter: opacity(0.9); }
          header .header-content ul .social-link img:hover {
            -webkit-filter: opacity(1);
            filter: opacity(1); }

@media (max-width: 780px) {
  .header-content h1 {
    font-size: 1em; }
  .navbar {
    display: none; } }

/* ---------------------------------
             ## BODY ##
---------------------------------- */
h3 {
  font-size: 38px;
  width: 125px;
  margin-bottom: 20px;
  border-radius: 2px; }

p {
  color: gray; }

.emphasis {
  font-size: 22px;
  color: rgba(22, 22, 22, 0.8); }

.article-content {
  padding-top: 20px;
  padding-bottom: 40px; }

#about {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
  padding: 30px 0 30px 0; }

#projects {
  padding: 30px 0 30px 0; }
  #projects h3 {
    margin-bottom: 20px; }
  #projects .project {
    margin-top: 30px;
    margin-bottom: 40px; }
    #projects .project .project-container {
      display: flex;
      padding: 10px 0 10px 0; }
      #projects .project .project-container .img-container {
        width: 25%;
        float: left; }
      #projects .project .project-container img {
        width: 100%;
        border: 4px solid #eee; }
      #projects .project .project-container .project-text {
        float: right;
        width: 70%;
        margin-left: 15px; }
      #projects .project .project-container ul {
        display: flex;
        align-items: center; }
        #projects .project .project-container ul li {
          margin-left: 20px;
          margin-right: 5px; }

@media (max-width: 1270px) {
  #about .container {
    width: 100%; }
  #projects .container {
    width: 100%; } }

/* ---------------------------------
           ## FOOTER ##
---------------------------------- */
.bg-dark {
  background-color: #f6f6f6;
  border-top: 6px solid #eee;
  padding-top: 30px;
  padding-bottom: 30px; }
  .bg-dark .emphasis {
    width: 180px;
    color: rgba(22, 22, 22, 0.8);
    border-bottom: 2px solid #ccc; }
  .bg-dark h3, .bg-dark p {
    color: gray; }
  .bg-dark ul {
    list-style: none; }

@media (max-width: 480px) {
  header .header-content {
    padding-top: 50px;
    padding-bottom: 50px; }
    header .header-content h1 {
      font-size: 32px; }
    header .header-content ul {
      display: none; }
  .img-container {
    display: none; }
  .navbar {
    display: none; }
  #about .container {
    width: 100%; }
  #projects .container {
    width: 100%; }
  #projects ul {
    flex-wrap: wrap; } }
